/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}*/

li {
    float: left;
}

/*li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
*/
.table{
      list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
   background: #3c00ff;
  background-image: -webkit-linear-gradient(top, #3c00ff, #25b9de);
  background-image: -moz-linear-gradient(top, #3c00ff, #25b9de);
  background-image: -ms-linear-gradient(top, #3c00ff, #25b9de);
  background-image: -o-linear-gradient(top, #3c00ff, #25b9de);
  background-image: linear-gradient(to bottom, #3c00ff, #25b9de);

}

.button {
  background: #3c00ff;
  background-image: -webkit-linear-gradient(top, #3c00ff, #25b9de);
  background-image: -moz-linear-gradient(top, #3c00ff, #25b9de);
  background-image: -ms-linear-gradient(top, #3c00ff, #25b9de);
  background-image: -o-linear-gradient(top, #3c00ff, #25b9de);
  background-image: linear-gradient(to bottom, #3c00ff, #25b9de);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  width: 375px;
  text-decoration: none;
}

.button:hover {
  background: #0811c2;
  background-image: -webkit-linear-gradient(top, #0811c2, #247ad6);
  background-image: -moz-linear-gradient(top, #0811c2, #247ad6);
  background-image: -ms-linear-gradient(top, #0811c2, #247ad6);
  background-image: -o-linear-gradient(top, #0811c2, #247ad6);
  background-image: linear-gradient(to bottom, #0811c2, #247ad6);
  text-decoration: none;
}

.container {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   text-align: center;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 90%;
}

body{
  background-color: wheat;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
/*footer { background-color:black; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:90px; padding:0 36px; }
.logofooter { margin-bottom:50px; font-size:25px; color:#fff; font-weight:700;}*/

/*.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}*/


/*.paddingtop-bottom { margin-top:20px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }*/
 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100px; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
/* .copyright { min-height:40px; background-color:#000000;}*/
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
